button {
  width: 350px;
  height: 55px;
  background-color: var(--whiteColor);
  border: none;
  border-radius: 10px;
  font-size: 1.4em;
  color: var(--blueColor);
  font-weight: bold;
  margin: 0.35em;
}

/* extra small */
@media (max-width: 320px) {
  button {
    width: 260px;
    height: 45px;
    font-size: 1em;
  }
}
