.container {
  display: flex;
  align-items: center;
}

button {
  width: 350px;
  height: 55px;
  background-color: var(--whiteColor);
  border: none;
  border-radius: 10px;
  font-size: 1.4em;
  color: var(--blueColor);
  font-weight: bold;
  margin: 0.35em;
}

.correct {
  background: radial-gradient(
    circle,
    rgba(43, 180, 19, 0.8673844537815126) 0%,
    rgba(63, 205, 20, 0.8225665266106442) 100%
  );
  color: var(--whiteColor);
}

.unCorrect {
  background: radial-gradient(
    circle,
    rgba(250, 0, 0, 0.8225665266106442) 0%,
    rgba(255, 53, 53, 0.8732069672131147) 100%
  );
  color: var(--whiteColor);
}

.click {
  background: radial-gradient(
    circle,
    rgba(255, 237, 63, 0.99) 0%,
    rgba(255, 237, 63, 0.99) 100%
  );
  color: black;
}

/* extra small */
@media (max-width: 281px) {
  button {
    width: 260px;
    height: 45px;
    font-size: 1.2em;
  }
}
