.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em;
  margin-top: 0;
}

.questionNubmers {
  font-size: 1em;
  margin-bottom: 0;
}

.navigateBtn {
  width: 350px !important;
  height: 55px ;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1.4em;
  color: rgb(42, 130, 237);
  font-weight: bold;
  position: fixed;
  bottom: 0;
}

.score {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.9em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.score p {
  margin: 0;
}

