.container {
  padding: 1em;
  margin-top: 2.5em;
  background-color: var(--whiteColor);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title span:first-child {
  font-size: 2.5em;
  color: rgb(255, 43, 102);
  font-weight: bold;
}

.title span:nth-child(2) {
  color: grey;
}

/* desktop */
@media (min-width: 992px) {
  .title span:first-child {
    font-size: 3em;
  }
}
