.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--blueColor);
}

.icon {
  margin: 1.5em;
}

.link {
  text-decoration: none;
  color: var(--whiteColor);
}
