.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.question {
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em;
  text-align: center;
}

.answers {
  flex: 1;
}


/* extra small */
@media (max-width: 320px) {
  .question {
    font-size: 1.1em;
   
  }
}
