.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.content {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;
  min-height: 150px;
  width: 350px;
  border-radius: 25px;
  margin-bottom: 3.5em;
}

.content:first-child {
  background: linear-gradient(
    90deg,
    rgba(255, 106, 106, 0.8732069672131147) 0%,
    rgba(255, 43, 102, 0.6035242290748899) 100%
  );
}

.content:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(4, 172, 242, 1) 0%,
    rgba(70, 109, 238, 0.6035242290748899) 100%
  );
}

.content:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgba(252, 233, 67, 1) 0%,
    rgba(252, 233, 67, 0.5748898678414097) 100%
  );
}

.content:nth-child(4) {
  background: linear-gradient(
    90deg,
    rgba(0, 203, 245, 1) 0%,
    rgba(42, 42, 42, 0.61) 100%
  );
}

.elements {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  color: var(--whiteColor);
  margin: 0.75em;
  margin-top: 1em;
}

.elements :nth-child(3) {
  font-weight: bold;
  font-size: 1.3em;
}

.elements img {
  position: absolute;
  top: -35px;
  right: 15px;
  width: 30% !important;
}

.link {
  text-decoration: none;
}

/* extra small */
@media (max-width: 281px) {
  .content {
    width: 260px;
  }
}

/* desktop */
@media (min-width: 992px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .content {
    min-height: 200px;
    width: 40%;
    margin: 2em;
    margin-top: 3.5em;
    transition: color 0.3s, transform 0.2s;
  }

  .content:hover{
    transform: scale(1.1) translate(5px, 5px);
  }

  .elements img {
    top: -70px;
  }
}
