.container {
  display: flex;
  justify-content: center;
}

.container img {
  height: auto;
  width: 45%;
}

/* extra small */
@media (max-width: 320px) {
  .container img {
    padding-top: 0;
    width: 45%;
  }
}

/* tablet */
@media (min-width: 768px) {
  .container img {
    width: 30%;
  }
}

/* desktop */
@media (min-width: 992px) {
  .container img {
    width: 10%;
  }
}
